[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hello World
X-MultipleArgs=false
Type=Application
GenericName=Display Hello World
Comment=This is my first PyGTK application
TryExec=helloworld
Exec=helloworld
Categories=Utility
Icon=helloworld
